.post-input {
  width: 80vw;
}
.post-input button {
  font-size: 16px;
}

.media-input {
  cursor: pointer;
  align-self: flex-start;
  padding: 0 10px;
  border-radius: 5px;
}

.media-input p {
  font-size: 20px;
}
.media-input:hover {
  background-color: rgba(214, 214, 214, 0.511);
}
.filter {
  height: 1px;
  width: 78vw;
  background-color: gray;
}

select {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

@media (min-width: 1050px) {
  .post-input {
    width: 50vw;
  }
  .filter {
    width: 48vw;
  }
}
