.logo {
  color: rgb(47, 94, 211);
  font-size: 50px;
}
.navbar {
  padding: 3px;
}

.nav-search {
  background-color: transparent;
  color: gray;
}

.home-logo {
  font-size: 48px;
}
.search-bar {
  padding: 0 15px;
  width: 30vw;
  height: 50px;
  border-radius: 5px;
  display: flex;
}
.links-container {
  gap: 40px;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  font-size: large;
}
.search-bar p {
  font-size: large;
}

.navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section {
  margin-top: 20px;
}

h2 {
  margin: 0;
}

.mobile-searchBar {
  display: none;
}
.desktop-searchBar {
  display: flex;
}

.posts-profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.job-card:hover {
  cursor: pointer;
  background-color: rgba(230, 230, 230, 0.404);
  border-radius: 5px;
  transition: all;
  animation-duration: 0.3s;
}

.job-card > img {
  width: 70px;
  height: 60px;
  border-radius: 5px;
}
.job-popup img {
  width: 120px;
  height: 100px;
  border-radius: 5px;
}

.job-popup button {
  font-size: 16px;
}

@media (max-width: 660px) {
  .mobile-searchBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .search-bar {
    width: 80vw;
  }
  .desktop-searchBar {
    display: none;
  }
}
