.text-primary {
  color: rgb(47, 94, 211);
}
.bg-primary {
  background-color: white;
}
.bg-secondary {
  background-color: rgba(238, 246, 255, 0.566);
}
.bg-blue {
  background-color: rgb(47, 94, 211);
}
.text-gray {
  color: gray;
}
.text-white {
  color: white;
}
